NEXT_PUBLIC_HOOK_ADDRESS=
NEXT_PUBLIC_POOL_MANAGER_ADDRESS=
NEXT_PUBLIC_TOKEN0_ADDRESS=
NEXT_PUBLIC_PAYMENT_TOKEN_ADDRESS=
NEXT_PUBLIC_AUCTION_TOKEN_ADDRESS=
NEXT_PUBLIC_POOL_FEE=3000
NEXT_PUBLIC_POOL_TICK_SPACING=60
NEXT_PUBLIC_DEFAULT_SELLER_ADDRESS=
# Optional
# NEXT_PUBLIC_BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
# NEXT_PUBLIC_ALCHEMY_API_KEY=
# NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=
